<app-client-form></app-client-form>

<div class="clients-container">
    <div class="list-header">
        <button class="primary-button button-with-icon" (click)="on_add_client()">
            <i class="fa-solid fa-plus"></i>
            <span> new client </span>
        </button>
    </div>
    @for(client of clients(); track client.id){
        <app-client [client] = "client"></app-client>
    }
    <div class="list-footer">
        <button class="primary-button icon-button" (click)="on_previous_btn_clicked()">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        page {{ current_page() }}/{{ total_pages() }}
        <button class="primary-button icon-button" (click)="on_next_btn_clicked()">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>


