

<div class="product-card">
    <label class="checkbox-container">
        <input type="checkbox" [checked]="selected" (change)="on_checkbox_change()">
        <span class="checkmark"></span>
    </label>
    <div class="card-header">
        <img src="{{product.image_path}}" alt="product image" class="product-img">
        <div class="text">
            <span class="product-name">
                {{product.product_name}}
            </span>
            <span class="product-reference">
                #{{ product.reference }}
            </span>
        </div>
    </div>
    <div class="column">
        <div class="line">
            <!-- <i class="fa-solid fa-envelope"></i> -->
            <b> categorie: </b>
            <span>{{ product.category_name }} </span>
        </div>
        <div class="line">
            <!-- <i class="fa-solid fa-mobile-screen-button"></i> -->
            <b> sub-categorie:</b>
            <span> {{ product.sub_category_name }} </span>
        </div>
    </div>
    
    <div class="stock">
        <span [class.badge-danger]="product.stock_quantity!<10">
            <i class="fa-solid fa-boxes-stacked"></i>
            {{ product.stock_quantity }}
        </span>
    </div>
    <div class="price">
        <span>{{ product.price }} €</span>
    </div>

    <div class="btns">
        <button class="icon-button icon-button-primary" (click)="on_edit_btn_click()"><i class="fa-solid fa-pen"></i></button>
        <button class="icon-button icon-button-primary"><i class="fa-solid fa-up-right-from-square"></i></button>
    </div>
    </div>
 
 


  
