.tasks-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.list-header{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.filter{
    margin-left: auto;
}

.combo-status{
    width: 200px;
}

.search-input{
    width: 300px;
}

.list-body{
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.list-footer{
    position: relative;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.options{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--third-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 350px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: .1rem;
}

.options>button:last-child{
    margin-left: auto;
}

.options>button{
    position: relative;
}

.options>button>span{
    position: absolute;
    width: max-content;
    height: auto;
    top: -80%;
    right: 50%;
    transform: translateX(50%);
    padding: .3rem .5rem;
    border-radius: .3rem;
    border: 1px solid var(--secondary-text-color);
    background-color: var(--third-color);
    font-size: small;
    opacity: 0;
    transition: .1s linear .2s;
}

.options>button:hover>span{
    opacity: 1;
    color: var(--text-color);
}

.options>span{
    color: var(--text-color);
    margin-right: auto;
}

.options>b{
    opacity: .3;
}

.new{
    background-color: var(--main-color);
    color: var(--third-color);
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.total{
    margin-right: auto;
    color: var(--text-color);
}

.hidden{
    display: none;
}

.date-filter-container{
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: .5rem;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 99%;
    transform: translateX(110%);
    transition: transform .3s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    display: flex;
    flex-direction: column;
}

.show-date-filter{
    transform: translateX(0);
}

.date-filter-container .close-btn{
    margin-left: auto;
}

.date-filter-container .apply-btn{
    margin-left: auto;
    margin-top: auto;
}