.dialog-body{
    padding: 1rem 2rem;
}

.dialog{
 width: 500px;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}