<dialog #dialog>
    <div class="dialog-header">
        <span class="dialog-title">
            add new task
        </span>
        <button id="colse-dialog" class="icon-button icon-button-danger" (click)="on_close()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <form class="dialog-form" #form>
        <div class="progress-bar-container" [class.hidden]="!is_progressbar_open">
            <div class="progress-bar"></div>
        </div>
        <div>

            <div class="form-group">
            <label for="task_name">Task Name</label>
            <input type="text" name="task_name" [(ngModel)]="selected_task.task_name">
            </div> 

            <div class="form-group">
                <label for="task_date">Task date</label>
                <input type="date" name="task_date" [(ngModel)]="selected_task.task_date">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" [(ngModel)]="selected_task.description">
                </textarea>
            </div>

        </div>

        <div> 
            <div class="form-group">
                <label for="client">Client</label>
                <select name="client">
                    <option value=""></option>
                    <option value="12">client 01</option>
                    <option value="34">client 02</option>
                    <option value="77">client 03</option>
                </select>
            </div>

            <div class="form-group">
                <label for="technician">Technician</label>
                <select name="technician">
                    <option value=""></option>
                    <option value="12">technician 01</option>
                    <option value="34">technician 02</option>
                    <option value="77">technician 03</option>
                </select>
            </div>
        </div>

    </form>
    <div class="dialog-footer">
        <button type="submit" class="primary-button" (click)="on_save_btn_click()">Save</button>
    </div>
  </dialog>