<dialog #dialog>
    <div class="dialog-header">
        <span class="dialog-title">
            add new task
        </span>
        <button id="colse-dialog" class="icon-button icon-button-danger" (click)="on_close()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <form class="dialog-form" #form>
        <div class="progress-bar-container" [class.hidden]="!is_progressbar_open">
            <div class="progress-bar"></div>
        </div>
        <div>

            <div class="form-group">
            <label for="task_name">Task Name</label>
            <input class="invalid-icon invalid-input" type="text" name="task_name" [(ngModel)]="selected_task.task_name">
            </div> 

            <div class="form-group">
                <label for="task_date">Task date</label>
                <input type="date" name="task_date" [(ngModel)]="selected_task.task_date">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" [(ngModel)]="selected_task.description">
                </textarea>
            </div>

        </div>

        <div> 
            <div class="form-group">
                <label for="client">Client</label>
                <app-clients-combobox [value]="selected_task.client" (change)="on_clients_combo_change($event)"></app-clients-combobox>
            </div>

            <div class="form-group">
                <label for="technician">Technician</label>
                <app-technitians-combobox [is_valid]="true" [value]="selected_task.technician" (change)="on_technicians_combo_change($event)"></app-technitians-combobox>
            </div>
        </div>

    </form>
    <div class="dialog-footer">
        <button type="submit" class="primary-button" (click)="on_save_btn_click()">Save</button>
    </div>
  </dialog>