<app-task-form (submit)="on_form_submit($event)"></app-task-form>
@if(is_assign_form_open()){
    <app-reassign-form [tasks_ids]="selected_tasks_ids" 
    (close)="on_assign_form_close()" (save)="on_assign_form_save()"></app-reassign-form>
}

<div class="tasks-container">
    <div class="list-header">

        <input #client_search_input type="text" class="search-input" 
        placeholder="Search by client name" (keyup)="on_search_input_keyup()">

        <input #technician_search_input type="text" class="search-input" 
        placeholder="Search by technician name" (keyup)="on_search_input_keyup()">

        <select #combo_status class="combo-status" (change)="on_combo_status_change()">
            <option value=""></option>
            <option value="Completed">Completed</option>
            <option value="In Progress">In Progress</option>
            <option value="Unassigned">Unassigned</option>
        </select>
        <a (click)="on_reset_filter_click()">reset filter</a>
          
        <button class="filter icon-button primary-button" (click)="on_calendar_btn_click()">
            <i class="fa-regular fa-calendar"></i>
        </button>

        <button class="primary-button button-with-icon" (click)="on_add_task()">
            <i class="fa-solid fa-plus"></i>
            <span> new task </span>
        </button>
    </div>

    <div class="list-body">

        @if(is_loading()){
            @for (item of [1,2,3,4,5]; track $index) {
                <app-skeleton-row-list></app-skeleton-row-list>
            }
        }@else{
            @for(task of tasks; track task.id){
                <app-task [task] = "task" [selected]="selected_tasks_ids().includes(task.id)" 
                (edit)="on_task_edit($event)" (selected_change)="on_task_selected_change(task.id)"
                (show_details)="on_show_details(task.id)"></app-task>
            }
        }

        @if(is_error()){
            <p>Error occurred while loading the data.</p>
            <button class="primary-button" (click)="refresh_tasks({start_date:'',end_date:''})">refresh</button>
        }

        <app-task-details [task_id]="3"></app-task-details>
        <div class="date-filter-container" [class.show-date-filter]="is_date_filter_open()">
            <!-- <div class="progress-bar-container" [class.hidden]="!is_progressbar_open()">
                <div class="progress-bar"></div>
            </div> -->
            <button class="close-btn icon-button icon-button-danger" (click)="on_close_date_filter_container_click()">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <app-date-range-picker></app-date-range-picker>
            <button class="apply-btn primary-button" (click)="on_apply_btn_click()">apply</button>
        </div>
    </div>

    <div class="list-footer">
        <span class="total">total tasks: {{ total_tasks() }}</span>

        <div class="options" [class.hidden]="selected_tasks_ids().length == 0">
            <span>({{ selected_tasks_ids().length }}) selected</span>
            <a (click)="show_reassing_from()">assign to</a>
            <button class="icon-button icon-button-primary"><i class="fa-solid fa-trash-can"></i></button>
            <button class="icon-button icon-button-danger" (click)="on_list_options_close_btn_click()"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <button class="primary-button icon-button" (click)="on_previous_btn_clicked()"
        [disabled]="current_page() === 1">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        page {{ current_page() }}/{{ total_pages() }}
        <button class="primary-button icon-button" (click)="on_next_btn_clicked()"
        [disabled]="current_page() === total_pages()">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>



