<nav>
    <button class="notification-btn" (click)="on_notification_btn_click()">
        <i class="fa-solid fa-bell"></i>
        @if(notifications_count !== 0){
            <span>{{ notifications_count }}</span>
        }
    </button>
<button><i class="icon fa-solid fa-gear"></i></button>
<div class="profile">
    <img src="assets/imgs/profile-user.png" alt="profile pic">
    <div class="text">
        <span class="primary-text">user name</span>
        <span class="secondary-text">fonctionalty</span>
    </div>
</div>
<app-notifications></app-notifications>
</nav>