<nav>
    <button class="notification-btn" (click)="on_notification_btn_click()">
        <i class="fa-solid fa-bell"></i>
        @if(notifications_count !== 0){
            <span>{{ notifications_count }}</span>
        }
    </button>
<button (click)="settings_Component.open_dialog()">
    <i class="icon fa-solid fa-gear"></i>
</button>
<div class="profile">
    <img [src]="user_image()" alt="profile pic">
    <div class="text">
        <span class="primary-text"> {{ user_name() }} </span>
        <span class="secondary-text"> {{ user_profile() }} </span>
    </div>
</div>
<app-notifications></app-notifications>
<app-settings></app-settings>
</nav>