<dialog #dialog>
    <div class="dialog-header">
        <span class="dialog-title">
            add new product
        </span>
        <button id="colse-dialog" class="icon-button icon-button-danger" (click)="on_close()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <form class="dialog-form" #form>
        <div class="progress-bar-container" [class.hidden]="!is_progressbar_open()">
            <div class="progress-bar"></div>
        </div>
        <div>
            <div class="form-group">
                <label for="image_path">Picture</label>
                <label class="image-selector" for="image-upload" style="margin-bottom: 20px;"
                (drop)="on_img_selector_drop($event, img_input)"
                (dragover)="on_img_selector_dragover($event)">
                    <img class="image-view" src="{{ selected_product.image_path }}" alt=""
                    [class.hidden] = "selected_product.image_path == ''">
                    <div class="upload-text" [class.hidden] = "selected_product.image_path != ''">
                        <img src="../../../../assets/imgs/cloud-computing_x64.png" alt="">
                        <p>Click here or drag and drop <br> to upload image</p>
                    </div>
                    <input #img_input type="file" id="image-upload" accept="image/*" (change)="on_img_input_change($event)" hidden>
                </label>
            </div>

            <div class="form-group">
                <label for="product_name">Name</label>
                <input type="text" name="product_name" required [(ngModel)]="selected_product.product_name">
            </div>

            <div class="form-group">
                <label for="reference">Reference</label>
                <input type="text" name="reference" required [(ngModel)]="selected_product.reference">
            </div>

            
            <div class="form-group">
                <label for="brand">Brand</label>
                <select name="brand" [(ngModel)]="selected_product.id_brand">
                    <option value=""></option>
                    @for(brand of brands(); track brand.id){
                        <option value="{{brand.id}}">{{brand.brand}}</option>
                    }
                </select>
            </div>
        </div>

        <div> 
            <div class="form-group">
                <label for="categorie">Categorie</label>
                <select name="categorie" [(ngModel)]="selected_product.id_category" (change)="on_combo_category_change()">
                    <option value=""></option>
                    @for(category of categories(); track category.id){
                        <option value="{{category.id}}">{{category.category}}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="sub_categorie">Sub-categorie</label>
                <select name="sub_categorie" [(ngModel)]="selected_product.id_sub_category">
                    <option value=""></option>
                    @for(sub_category of sub_categories_by_category; track sub_category.id){
                        <option value="{{sub_category.id}}">{{sub_category.sub_category}}</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="stock_quantity">Stock's quantity</label>
                <input type="number" id="stock_quantity" name="stock_quantity" required [(ngModel)]="selected_product.stock_quantity">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" step=".1" id="price" name="price" required [(ngModel)]="selected_product.price">
            </div>

            <div class="form-group">
                <label for="has_warranty">Has warranty</label>
                <label class="checkbox-container">
                    <input type="checkbox" name="has_warranty" [(ngModel)]="selected_product.has_warranty">
                    <span class="checkmark"></span>
                </label>
            </div>

            <div class="form-group">
                <label for="warranty_duration_months">Warranty duration by months</label>
                <input type="number" name="warranty_duration_months" required 
                [(ngModel)]="selected_product.warranty_duration_months" [disabled]="!selected_product.has_warranty">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" required [(ngModel)]="selected_product.description">
                </textarea>
            </div>
        </div>

    </form>
    <div class="dialog-footer">
        <button type="submit" class="primary-button" (click)="on_save_btn_click(img_input)">Save</button>
    </div>
  </dialog>