

    <div class="client-card">
    <div class="card-header">
        <img src="{{client.image_path}}" alt="client image" class="client-img">
        <div class="text">
            <span class="client-name">
                {{client.first_name}} {{client.last_name}}
            </span>
            <span class="client-city">
                {{ client.city }}
            </span>
        </div>
    </div>
    <div class="contacts">
        <div class="client-email">
            <i class="fa-solid fa-envelope"></i>
            <span> {{ client.email }} </span>
        </div>
        <div class="client-phone">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <span> {{ client.phone_number }} </span>
        </div>
    </div>
    <div class="btns">
        <button class="icon-button icon-button-primary"><i class="fa-solid fa-pen"></i></button>
        <button class="icon-button icon-button-primary"><i class="fa-solid fa-up-right-from-square"></i></button>
    </div>
    </div>
 
 


  
