<div class="combobox">
    <input #combobox_input type="text" readonly [value]="value"
    (click)="toggle_options()">
    <i class="fa-solid fa-angle-down" (click)="toggle_options()"></i>
    <div #options_list class="options hidden">
        <input type="text" placeholder="Search..." [(ngModel)]="search_input_value">
        @for (client of get_clients; track client.id) {
            <div class="option" [attr.data-client_id]="client.id" 
            (click)="select_option($event)">{{ client.full_name }}</div>
        }
    </div>
</div>
