<app-product-form (submit)="on_form_submit($event)"></app-product-form>

<div class="products-container">
    <div class="list-header">
        <input #search_input type="text" class="search-input" 
        placeholder="Search by name" (keyup)="on_search_input_keyup()">
        <select #combo_brand class="combo-brand" (change)="on_combo_brand_change()">
            <option value=""></option>
            <option value="Brand A">Brand A</option>
            <option value="Brand B">Brand B</option>
            <option value="Brand C">Brand C</option>
            <option value="Brand D">Brand D</option>
            <option value="Brand E">Brand E</option>
        </select>
        <a (click)="on_reset_filter_click()">reset filter</a>
          
        <button class="primary-button button-with-icon" (click)="on_add_product()">
            <i class="fa-solid fa-plus"></i>
            <span> new product </span>
        </button>
    </div>
    @for(product of products; track product.id){
        <app-product [product] = "product" [selected]="selected_products_ids().includes(product.id)" 
         (selected_change)="on_product_selected_change(product.id)" (edit)="on_product_edit($event)"></app-product>
    }
    <div class="list-footer">
        <div class="options" [class.hidden]="selected_products_ids().length == 0">
            <span>({{ selected_products_ids().length }} 
                @if(selected_products_ids().length == 1){
                    product is selected
                }@else {
                    products are selected
                }
            )</span>
            <button class="icon-button icon-button-primary"><i class="fa-solid fa-pen"></i></button>
            <button class="icon-button icon-button-primary"><i class="fa-solid fa-trash-can"></i></button>
            <button class="icon-button icon-button-danger" (click)="on_list_options_close_btn_click()"><i class="fa-solid fa-xmark"></i></button>
        </div>

        <span class="total">total products: {{ total_products() }}</span>

        <button class="primary-button icon-button" (click)="on_previous_btn_clicked()"
        [disabled]="current_page() === 1">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        page {{ current_page() }}/{{ total_pages() }}
        <button class="primary-button icon-button" (click)="on_next_btn_clicked()"
        [disabled]="current_page() === total_pages()">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>
</div>



