*{
    --background-color: #E9ECF5;
    --secondary-background-color: #f2f3f7;

    --text-color: #4B4F6E;
    --text-color-lighter: #555c92;
    --secondary-text-color:rgb(210, 211, 230);
    --main-color: rgb(66, 100, 208);
    --main-color-01: rgba(66, 100, 208, .1);
    --main-color-02: rgba(66, 100, 208, .2);
    --main-color-04: rgba(66, 100, 208, .4);
    --main-color-opacity: rgba(66, 100, 208, .5);
    --main-color-06: rgba(66, 100, 208, .6);
    --main-color-08: rgba(66, 100, 208, .8);
    --secondary-color: #728DE4;
    --third-color: #fff;

    --danger-color: #EF7373;
    --danger-color-darker: #cc2525;
    --danger-color-lighter: #FCEAEA;

    --warning-color: rgb(249, 168, 9);
    --warning-color-darker: rgb(182, 121, 0);
    --warning-color-lighter: rgb(255, 251, 230);

    --info-color: rgb(40, 152, 255);
    --info-color-darker: rgb(32, 120, 202);
    --info-color-lighter: rgb(230, 247, 255);

    --success-color: rgb(106, 190, 64);
    --success-color-darker: rgb(25, 119, 41);
    --success-color-lighter: rgb(246, 255, 237);

    --menu-width: 200px;

    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.grid-container{
    display: grid;
    grid-template-areas:
        "side nav"
        "side main";
    grid-template-columns: auto 1fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}

.main {
    grid-area: main;
}

.side {
  grid-area: side;
  padding: 1rem;
  /* position: fixed; */
  height: 100%;
  width: 100%;
}

.nav{
    grid-area: nav;
}

button{
    cursor: pointer;
}

.primary-button{
    background-color: var(--main-color);
    color: var(--third-color);
    border: none;
    padding: .7rem 1.25rem;
    border-radius: .5rem;
}

.primary-button:hover{
    opacity: .9;
}

.secondary-button{
    background-color: transparent;
    color: var(--main-color);
}

.secondary-button:hover{
    background-color: var(--main-color-01);
}

.icon-button{
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 16px;
}

.icon-button-primary{
    background-color: transparent;
    color: var(--text-color);
}


.icon-button-primary:hover{
    background-color: var(--main-color);
    color: var(--third-color);
    
    /* border: 1px var(--text-color) solid; */
}

.icon-button-danger{
    background-color: var(--danger-color);
    color: var(--third-color);
}

.icon-button-danger:hover{
    opacity: .9;
}

.button-with-icon{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.primary-button:disabled,
.primary-button:disabled:hover{
    background-color: var(--main-color-opacity);
    color: var(--background-color);
    cursor: not-allowed;
}

a{
    text-decoration: none;
    color: var(--main-color);
    cursor: pointer;
}

.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255, .4);
    display: none;
    z-index: 999;
}

.show-backdrop{
    display: block;
    /* animation: show-backdrop .2s ease; */
}

.dialog,
dialog{
    padding: 0;
    overflow: hidden;
    width: 60%;
    background-color: var(--secondary-background-color);
    border: 1px solid var(--secondary-text-color);
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dialog-header{
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--secondary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-footer{
    padding: 1rem 2rem;
    border-top: 1px solid var(--secondary-text-color);
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.dialog-footer>button{
  margin-top: auto;
}

.dialog-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.dialog-form{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 60vh;
    overflow-y: scroll;
}

input,
textarea {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 16px;
    color: var(--text-color);
}
  
/* Input when focused */
textarea:focus,
input:focus,
select:focus {
    border-color: var(--main-color); /* Blue border when focused */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px rgba(66, 100, 208, 0.25); /* Light blue glow around input */
}

.invalid-input {
  border: 1px solid var(--danger-color-darker); 
}

.invalid-input:focus {
  border-color: var(--danger-color-darker);
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.2); /* Red shadow */
}

.invalid-feedback {
  color: var(--danger-color-darker);
  font-size: 0.875em;
  margin-top: 0.25rem;
}

.invalid-icon {
  position: relative;
}

.invalid-icon::after {
  content: '⚠️'; /* Warning icon */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--danger-color-darker);
  pointer-events: none;
}


dialog::backdrop {
    background: rgba(255, 255, 255, 0.4);
  }

/* selector */

select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--secondary-text-color);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  option {
    padding: 0.5rem;
  }

  /* checkbox style */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
  }
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: var(--third-color);
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: var(--main-color);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hidden{
    display: none;
  }

  .show{
    display: block;
  }

  form::-webkit-scrollbar,
  div::-webkit-scrollbar {
    width: 14px; /* Make the scrollbar thinner */
  }
  
  form::-webkit-scrollbar-track,
  div::-webkit-scrollbar-track {
    background: transparent; /* Make the scrollbar track invisible */
  }
  
  form::-webkit-scrollbar-thumb,
  div::-webkit-scrollbar-thumb {
    background-color: var(--main-color-02); /* Darker scrollbar */
    border-radius: 10px;
    border: 3px solid transparent; /* Create space between thumb and track */
    background-clip: padding-box; /* Prevent scrollbar thumb from overlapping the track */
  }
  
  form:hover::-webkit-scrollbar-thumb,
  div:hover::-webkit-scrollbar-thumb {
    background-color: var(--main-color-06); /* Darker on hover */
  }

   /* Container for the progress bar */
 .progress-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--main-color-01);
    overflow: hidden;
  }
  
  /* Progress bar itself */
  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    animation: progress-loop 2s infinite;
  }
  
  /* Animation for the looping progress */
  @keyframes progress-loop {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 100%;
      left: 100%;
    }
  }

  .badge-danger,
  .badge-warning,
  .badge-success{
    padding: .4rem .8rem;
    border-radius: .5rem;
    /* font-weight: bold; */
    font-size: medium;
  }

  .badge-success{
    background-color: var(--success-color-lighter);
    color: var(--success-color-darker);
  }
  
  .badge-danger{
    background-color: var(--danger-color-lighter);
    color: var(--danger-color-darker);
  }

  .badge-warning{
    background-color: var(--warning-color-lighter);
    color: var(--warning-color-darker);
  }

  .skeleton{
    opacity: .6;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0%{
        background-color: hsl(200, 20%, 67%);
    }
    100%{
        background-color: hsl(200, 20%, 82%);
    }
}



.error{
  border: 1px solid var(--danger-color);
  background-color: var(--danger-color-lighter);
  color: var(--danger-color-darker);
  position: relative;
  padding: .5rem 1rem;
  overflow: hidden;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
  padding-right: 3rem;
}

.error>button{
  color: var(--danger-color-darker);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  width: 2rem;
  background-color: rgb(0, 0, 0, .033);
}

.error>button:hover{
  background-color: rgb(0, 0, 0, .066);
}




