<div class="side-menu" [class.menu-closed]="is_menu_closed===true">
    <button class="menu-btn" (click)="on_btn_menu_cliked($event)">
      <i class="fa-solid fa-angles-left"></i>
    </button>
    <div class="logo">Logo</div>
    <div class="buttons">
      <button class="button" routerLink="/" routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }">
        <i class="icon fa-solid fa-house"></i> <span class="label">Home</span>  
      </button>
      <button class="button" routerLink="/invoices" routerLinkActive="active">
        <i class="icon fa-solid fa-file-lines"></i> <span class="label">Invoices</span> 
      </button>
    <button class="button" routerLink="/clients" routerLinkActive="active">
        <i class="icon fa-solid fa-user-group"></i> <span class="label">Clients</span> 
      </button>
      <button class="button" routerLink="/products" routerLinkActive="active">
        <i class="icon fa-solid fa-tags"></i> <span class="label">Products </span>
      </button>
      <button class="button">
        <i class="icon fa-solid fa-comments"></i> <span class="label"> Messages</span>
      </button>
      <button class="button">
        <i class="icon fa-solid fa-gear"></i> <span class="label">Sittings</span> 
      </button>
      <button class="button">
        <i class="icon fa-solid fa-right-from-bracket"></i> <span class="label"> Log out</span>
      </button>
    </div>
</div>
